$headerTopFont: #839cbb;
$headerMidFont: #718097;
$bgclr: #F6F9FA;
$ff: "Roboto Condensed";
.fa{
  font-size: 17px;
}
.flexCenter{
  display: flex;
  align-items: center;
}
.activea{
  background-color: white;
  color:#007bc8 !important;
  border-top:3px solid #007bc8 !important;
}
.Heading{
  font-size: 23px;
  color: #464e63;
  font-weight: bold;
  margin-bottom: 25px;
}
.mb{
  margin-bottom: 15px;
}
.searchToggle{
  height: 100% !important;
}
.mt-30{
  margin-top: 30px;
}
@keyframes heightMax {
  0% {height: 272px;}
  50%   { height:  0px; }
  100% { height: 489px; }
}
@keyframes heightMin {
  0% {height: 489px;}
  50%   { height:  0px; }
  100% { height: 272px; }
}
