body{
  border-top:5px solid #007bc8;
  font-family: $ff;

    .header{
      .headerTop{
        color: $headerTopFont;
        height: 45px;
        i{
          margin-right: 7px;
        }
        .contacts{
          .contactsPhone{

            font-size: 13px;
            margin-right: 15px;
          }
        }
        .mailAdress{
          color:#337ab7;
          a:hover{
            color:#23527c;
            text-decoration: none;
          }
        }

        .langSocialNetworks{
          margin-left: auto;
          .lang{
            margin-top: 5px;
            img{
              width:24px;
              margin-right: 5px;
            }
          }
          i{
            margin-left: 17px;
            margin-right: 0px;
            margin-top: 5px;
            font-size: 25px;
          }
        }
      }
      .headerTopBorder{
        border-top:3px solid rgb(220, 227, 239);
      }
      .headerMid{
        height: 82px;
        font-size: 17px;
        font-weight: bold;
        .navbar{
          background-color: transparent;
          border: 0px;
        }

        li{
          margin-left: 37px;

          a{
            color: #718097;
            display: flex;
            align-items: center;
            background-color: white;
            height: 76px;
            padding:0px;
            border-top:3px solid white;
          }
          &:last-child{
            margin-top: 2px;
            margin-left: 15px;
            color:#718097;
            cursor:pointer;
            i{
              font-size: 26px;
            }
          }
          .dropdown{
            position: relative;
          }
          .dropdown-menu{
            left:-100px;
            min-width:185px;
            padding:15px 0px;
            margin-left: 100px;
            border-top: 3px solid #007bc8;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            li{
              margin:0px;
              width: 100%;

              a{
                padding: 0 15px;
                height: 40px;
                font-size: 17px;
                font-weight: bold;
                color: #718097;
                display: flex;
                text-decoration: none;
                -webkit-box-align: center;
                align-items: center;
                width: 100%;
              }
              a:hover{
                color: #007bc8;
                border:none;
                background-color: rgb(244, 246, 250);
                border:none;
              }
              li:hover{
                border:none;
                background-color: rgb(244, 246, 250);
              }
            }
          }
        }
        a:hover{
          color:#007bc8;
          border-top:3px solid #007bc8;

        }
        .logo{
          &:hover{
            border-top: none;
          }
          margin-top: 12px;
          padding:0px;
          img{
            width:135px;
          }
        }
      }
      .searchBar{
        position: relative;
        height: 100px;
        div{
          transition: all 0.5s ease-in;
          overflow: hidden;
          position: relative;
          z-index: 10;
          width: 100%;
          height: 0%;
          background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.3) 100%);
          padding: 0 20px;
        }
        input{
          transition: all 0.4s ease-in;
          width: 89%;
          background: none;
          outline: none;
          border: none;
          border-bottom: 2px solid white;
          min-height: 40px;
          color: white;
          font-size: 22px;
        }
        button{
          width: 9%;
          background: none;
          color: white;
          font-size: 21px;
          border: 2px solid white;
          border-bottom-right-radius: 20px;
          border-top-left-radius: 20px;
        }
      }
      .background{
        z-index: -1;
        margin-top: -100px;
        position: absolute;
        width: 100%;
        height: 180%;
        background-image: url(../images/backGray.png);
        background-size: 100% 85%;
        background-repeat: no-repeat;
      }
      .headerBottom{
        margin-top: -100px;
        position:relative;
        height: 567px;
        overflow: hidden;
        .sliderText{
          position: absolute;
          padding-left: 60px;
          z-index: 3;
          top:40%;
          .topText{
            margin-bottom: 15px ;
            span{
              font-size: 46px ;
              font-weight: lighter;
              line-height: 0.948;
              color: rgb(255, 255, 255);
              text-transform: uppercase;
            }
          }
          .midText{
            font-size: 18px;
            font-family: $ff;
            color: rgb(255, 255, 255);
            line-height: 1.063;
            font-weight: lighter;
          }
          .bottomText{
            margin-top: 10px;
            button{
              height: 43px;
              border-radius:8px;
              color: white;
              transition: 0.5s linear;
              background-color: rgb(0, 120, 197);
              border:none;
              box-shadow: none;
              padding:1px 6px;
            }
          }
        }
        .buttons{
          .leftButton{
            cursor: pointer;
            position:absolute;
            top: 46%;
            z-index: 2;
            opacity: 0.8;
            left:40px;
            padding: 9px 24px 9px 20px;
            border: 2.24px solid white;
            display: inline-block;
            border-radius:100%;
            i{
              color: white;
                  font-size: 37px;
            }
          }
          .rightButton{
              cursor: pointer;
              position:absolute;
              top: 46%;
              opacity: 0.8;
              right: 40px;
              z-index: 2;
              padding: 9px 22px 10px 22px;
              border: 2.24px solid white;
              display: inline-block;
              border-radius:100%;
              i{
                color: white;
                    font-size: 37px;
              }
          }
          .leftButton:hover,  .rightButton:hover{
            opacity: 1;
          }
        }
          .slider{
            position:relative;
            overflow: hidden;
            width: 100%;
            .wrapper{
              width: 100%;
              height: 100%;
              z-index: 2;
              position: absolute;
              background: rgba(0, 0, 0, 0.16);
            }
          }
          .carousel{

            overflow: hidden !important;
            width:calc(5 * 1146px);
            .slide{
              height: 100%;
              .col-md-12, .col-lg-12, .col-sm-12{
                padding:0px;
              }
              img{
                user-select: none;
                height:567px;
                width: 100%;
                object-fit: cover;
              }
              width:1146px;
              float:left;


            }
          }

      }
    }
    .main{
      .mainTables{
        padding:30px 15px 13px;
        height: 292px;
        .leftTable{
          width:7%;
          .map{

            color: #8767ac;
            background-color: rgb(236, 236, 236);
            border-radius: 25px 0 0 25px;
            padding: 25px 10px;
            cursor: pointer;
            text-align: center;
            transition: 0.5s linear;
          }
          .globe{
            text-transform: uppercase;
            color: #5b2d59;
            padding: 25px 10px;
            margin-top: 10px;
            cursor: pointer;
            text-align: center;
            transition: 0.5s ease-in;
            i{
              font-size: 38px;
            }
          }
        }
        .rightTable{
          width: 93%;
          padding: 25px 0px;
          border-radius: 10px;
          border-top-left-radius:0px;
          border-bottom-left-radius:0px;
          background-color: rgb(236,236,236);
          .tables{
            overflow: hidden;
            height: 272px;
          }
          table{
            tbody{

            }
            z-index: 9;
            text-transform: uppercase;
            tr:first-child{
              display: table-row;
              width: 100%;
              color: #333;
              font-weight: lighter;
              border-bottom:0px;
            }
            tr:nth-child(2){
              border-top:none;
            }
            tr{
              text-align: center;
              font-weight: bold;
              td{
                text-align: center;
                padding:10px 20px;
                border-color: rgba(0, 0, 0, 0.102);
              }
              border:1px solid;
              border-color: rgba(0, 0, 0, 0.102);
            }
            tr:not(:first-child):hover{
              background-color:rgba(255, 255, 255, 0.3);
            }
          }
          .arrow{
            width: 100%;
            padding: 10px 0;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            img{
              margin:auto;
              width: 32px;
              cursor: pointer;
              transition: .5s ease-in;
            }
          }
        }
      }
      .mainProjects{
          margin-bottom: 30px;
        .mainProject{

          height: 460px;
          img{
            width: 100%;
          }
          .mainProjectText{
            color: white;
            font-size: 23px;
            padding: 33px 27px;
            background-color: #1a212b;
            p{
              margin-top: 10px;
              line-height: 1.75;
              color: white;
              font-size: 15px;
            }
          }
        }
        .secondaryProject{
          .secondaryProjectFirst{
            position: relative;
            margin-bottom: 30px;
            height: 266.5px;
            overflow: hidden;
            img{
              width: 100%;
            }
            .secondaryProjectText{
              position: absolute;
              bottom: -65px;
              background: rgba(26, 33, 43, 0.8);
              padding: 20px 25px;
              color:white;
              font-size: 24px;
              transition: 0.5s linear;
              margin-top: 6px;
              span{
                opacity: 0;
                font-family: $ff;
                margin-top: 20px;
                font-size: 15px;
                line-height: 10px;
                transition: 0.5s linear;
              }
            }

          }
          .secondaryProjectFirst:hover{
            .secondaryProjectText{
              bottom:0px;
              span{
                opacity: 1;
              }
            }
          }
          .secondaryProjectSecond{
            height: 266.5px;
            overflow: hidden;
            position: relative;
            img{
              width: 100%;
            }
            .secondaryProjectText{
              position: absolute;
              bottom: -100px;
              background: rgba(26, 33, 43, 0.8);
              padding: 20px 25px;
              color:white;
              font-size: 24px;
              transition: 0.5s linear;
              margin-top: 6px;
              span{
                opacity: 0;
                font-family: $ff;
                margin-top: 20px;
                font-size: 15px;
                line-height: 10px;
                transition: 0.5s linear;
              }
            }
          }
          .secondaryProjectSecond:hover{
            .secondaryProjectText{
              bottom:0px;
              span{
                opacity: 1;
              }
            }
          }
        }
      }
      .background2{
        position: relative;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(211, 222, 231, 0.2);
      }
      .mainNews{
        position: relative;

        padding: 60px 0px 35px;
        .news{
          .newItem{
            margin-bottom: 10px;
            margin-top: 22px;
            padding:0px;
          }
          .images{
            padding-right: 0px;
            img{
              width:100%;
              height: 120px;
              object-fit: cover;
            }
          }
          .text{
            span{
              font-size: 12px;
              color: #74899e;
              font-weight: bold;
            }
            p{
              color: #58656d;
              font-size: 20px;
            }
          }
        }
        .media{
          .text{
            margin-top: 30px;
            padding-left: 46px;
            span{
              font-size: 12px;
              color: #74899e;
              font-weight: bold;
            }
            p{
              color: #58656d;
              font-size: 20px;
            }
          }
          img{
            margin-bottom: 30px;
            padding-left: 46px;
            height: 260px;
            width: 100%;
          }
        }
      }
      .background3{
        position: relative;
        width: 100%;
        height: 100px;
        top: 0;
        left: 0;
        background-color: rgba(211, 222, 231, 0.2);
      }
      .mainPages{
        margin-top: 50px;
        .extraPages{
          padding:50px 0px;
          padding-bottom: 150px;
          border-top: 0.935px solid rgba(0, 0, 0, 0.102);
          .col-lg-2 div{
            width:135px;
            img:last-child{
              margin-bottom: 10px;
            }
            margin:auto;
            text-align: center;
            background-color: rgba(211, 222, 231, 0.2);
            height: 60px;
            p{
              margin-top: 10px;
              text-align: left;
              color: #c4c9d1;
              font-size: 16.82px;
              text-transform: uppercase;
              span{
                font-size: 16.75px;
                font-family: "Roboto Condensed";
                font-weight: bold;
                text-transform: uppercase;
                color: rgb(82, 95, 113);
              }
              img{

                height: 59px;
              }

            }
          }
        }

      }
    }
    .footer{
      height: 90px;
      background-color: rgb(24, 30, 40);
      color: white;
    }
  }
